.container-fluid{
    background-color: lightblue;
    height: 100px;
}
.container-sm{
     background-color: lightyellow;

}
.container-md{
     background-color: lightgreen;
    
}
.container-lg{
     background-color: lightcoral;
    
}
.container-xl{
     background-color: lightgrey;

}